*~
*.o
*.log
*.trs
.deps
.dirstamp
.unpacked
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
missing
ntpclient.service
sntpd.service
stamp-h1
test-driver
test/fake-ntpd
test/test-parse
test/test-peer
TAGS
ID
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
